<% @feed_courses.each do |course| %>
  <div class="bg-white rounded-md mb-2">
    <div class="mx-2 py-2">
      <div class="flex items-center pb-4">
        <img class='w-10 h-10 object-cover rounded-full' alt='User avatar' src='https://i.pravatar.cc/200?u=007'>
        <div class="mx-2">
          <strong>
            <span class="font-semibold">
              <%= course.user.full_name %> 
              <% if currentUserRole?(current_user) === ":teacher?" %>-
                <%= link_to 'Créer exercice', new_course_exercice_path(course), class:"text-blue-600" %> 
              <% end %>
            </span><br>
          </strong>
          <small class="text-sm text-slate-500 truncate">Professeur de <%= course.material.title %> en <%= course.level.title %></small>
        </div>
      </div>
      <!-- Course title-->
      <div class="font-semibold text-xl pb-2">
        <%= course.title %>
      </div>
      <!-- Course content-->
      <div class="border border-1 rounded-md m-2">
        <div class="m-2">
            <%= link_to course_path(course), class:"hover:text-black text-black no-underline" do %>
              <%= truncate(strip_tags(course.content.to_s.html_safe), length: 500) %>
              <span class="bg-blue-300 rounded-md" id=start-reading><i class="mx-2">Continuez la lecture ...</i></span>
            <% end %>
        </div>
      </div>
      <!-- metadata -->
      <div class="bg-gray-200 text-sm flex font-bold">
        
      <!-- show exercices -->
        <div class="mt-2 w-3/4 flex flex-wrap content-start text-sm">
          <% if currentUserRole?(current_user) === ":teacher?" %>
            <div class="mx-4 p-2 lg:mr-8"> 
                <%= link_to pricing_path, class:"hover:text-black text-black no-underline" do %>
                <i class="fas fa-chalkboard-teacher"></i> S'Abonnez  
                <% end %>
            </div>
          <% else %>
            <div class="mx-4 p-2 lg:mr-8">    
            👍<a href="https://wa.me/?text=🇨🇮 *💡 Bac 2021-2022 J'utilise maintenant la nouvelle pateforme Lnclass.com pour étudier mes léçons de Tle et faire des exercices<br/>👇 Découvre toi aussi* bit.ly/3IqsnkL" 
            class="font-bold"> Informez sur WhatsApp</a>

            </div>
          <% end %>
        </div>
      <!-- show  -->
        <div class="mt-2 w-1/4 flex ">
        <div class="mr-4 p-2">
          <% if :students? %>
          <!-- 
            <i class="fas fa-chevron-right"></i> Traité
          -->
          <% else %>
            <i class="fas fa-users-class"></i>Voir Resultats
          <% end %>
        </div>
      </div>

      </div>
    </div>
  </div>
<% end %>
