<div id="<%= dom_id city_erea %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= city_erea.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= city_erea.slug %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= city_erea.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this city erea", city_erea, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this city erea', edit_city_erea_path(city_erea), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
    <p class="">madkfbvj</p>
  <% end %>
</div>
