<div class="m-2">
    <div class="w-full md:w-2/3">
    <p class="">dfvgvgv</p>
    <p class="">dfvgvgv</p>
      <h2 class="font-semibold text-xl m-2 ">
        <%= @course.title %> <% if currentUserRole?(current_user) === ":teacher?" %> - <%= link_to 'Exercices', new_course_exercice_path(@course) %><% end %>
      </h2>
    </div>
    <div class="card rounded-md md:w-2/3">
      <div class="mx-2 ">
        <%= @course.content %>
        
        <% if moderator?(current_user) === ":moderator?" %>
        <!-- Add More Options--->
          <%= render "courses/shared/moreOptions" %>
        <% end %>
      </div>
    </div>

    <!-- Add WHatsApp Share link--->
    
    <div class="card rounded-md mt-2 md:w-2/3">
      <%= render "sharing/student" %>
    </div>

    <!-- Add exercices list for medium--->
    <div class="card mt-2 md:w-2/3">
      <div class="m-2">
      <p class="font-bold text-md "> Commencez les exercices</p>
        <%= render partial: "courses/shared/exercices",locals: {course: @course} %>
    </div>
  </div>
